.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;  
  justify-content: center; /* will align items along the x axis */
  align-items: center; /* Will align items along the y axis */
  display: flex; /* Without display:flex;, justify-content and align-items won't work. */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}